body {
  font-family: system-ui;
  background-color: #c8ccc4;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
header img {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  margin-right: 16px;
}

#social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

#social li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 48px;
  min-width: 48px;
  padding: 0 8px;
  margin: 0 8px;
  background-color: #f4e6d0;
}
#social li:hover {
  background-color: #e4d4c8;
  cursor: pointer;
}

#social li a {
  text-decoration: none;
  color: #000;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: 0px center;
  padding: 8px 0 8px 32px;
}
#social li:hover a {
  color: #fff;
}

@media (max-width: 767px) {
  #social {
    margin-top: 16px;
  }
  #social li a {
    background-position: center;
  }
  #social li a span {
    visibility: hidden;
    font-size: xx-small;
  }
}

#social li#linkedin a {
  background-image: url("./assets/linkedin.svg");
}
#social li#linkedin:hover a {
  background-image: url("./assets/linkedin_hover.svg");
}
#social li#instagram a {
  background-image: url("./assets/instagram.svg");
}
#social li#instagram:hover a {
  background-image: url("./assets/instagram_hover.svg");
}
#social li#sfeir a {
  background-image: url("./assets/sfeir.svg");
}
#social li#sfeir:hover a {
  background-image: url("./assets/sfeir_hover.svg");
}
#social li#github a {
  background-image: url("./assets/github.svg");
}
#social li#github:hover a {
  background-image: url("./assets/github_hover.svg");
}

#certifications a {
  text-decoration: none;
  color: #000;
}

#about,
#experiences,
#certifications,
#education {
  margin-top: 16px;
  background-color: #e4e3d7;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 0 5px #f3ebe0;
}

#experiences hr {
  border-color: #f4e6d0;
  background-color: #f4e6d0;
}
